// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}


.face-wrapper {
  text-align: center;
}

.face {
  display: inline-block !important;
}

.people-wrapper {
  text-align: center;
}

.people {
  display: inline-block !important;
}

.texting-1 {
  width: 100%;
  height: 253px;
  background-image: url('/assets/img/visual.jpg');

  center {
    padding-top: 50px;
  }

  p {
    color: white;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}

// Legacy css

/* Outlook link fix   */

#outlook a {
	padding: 0;
}
/* outlook.com background & line height fixes */
.ExternalClass {
	width: 100% !important;
	background-color: #ffffff;
}
.ExternalClass ecx* {
	line-height: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
	line-height: 100%;
}
/* Image borders & formatting */
img {
	outline: none;
	text-decoration: none;
	-ms-interpolation-mode: bicubic;
}
a img {
	border: none;
}
/* Re-style iPhone automatic links (eg. phone numbers) */
.applelinks a {
	color: #49522e;
	text-decoration: none;
}
/* outlook.com symbol fix for mobile devices */
.ExternalClass img[class^=Emoji] {
	width: 10px !important;
	height: 10px !important;
	display: inline !important;
}
img {
	-ms-interpolation-mode: bicubic;
}
body, p {
	margin: 0;
	padding: 0;
	margin-bottom: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
table td {
	border-collapse: collapse;
}
.tablefixed {
	table-layout: fixed;
}
.appleLink a {
	color: #ffffff;
	text-decoration: none;
}

/*	@media screen and (max-width:639px) and (max-device-width: 1100px) { */
@media screen and (max-width:639px) {
	/* max-device-width: 1100px >> for devices with pixel-rario: 3 */
	         /* Height */
	*[class].hauto {
		height: auto !important;
	}
	*[class].h40px {
		height: 40px !important;
	}
	*[class].h15px {
		height: 15px !important;
	}
	*[class].h25px {
		height: 25px !important;
	}
	*[class].h30px {
		height: 30px !important;
	}
	*[class].h212px {
		height: 212px !important;
	}
	*[class].h62px {
		height: 62px !important;
	}
	*[class].h170px {
		height: 170px !important;
	}
	*[class].h232px {
		height: 232px !important;
	}
	*[class].h290px {
		height: 290px !important;
	}
	*[class].h358px {
		height: 358px !important;
	}
	*[class].h425px {
		height: 425px !important;
	}
	*[class].dHeight {
		height: 380px !important;
	}
	*[class].h900px {
		height: 900px !important;
	}
	*[class].h8px {
		height: 8px !important;
	}
	/* Width */
	*[class].wauto {
		width: auto !important;
	}
	*[class].mw0px {
		min-width: 0px !important;
	}
	*[class].w7px {
		width: 7px !important;
	}
	*[class].w100px {
		width: 100px !important;
	}
	*[class].w15px {
		width: 15px !important;
	}
	*[class].w40px {
		width: 40px !important;
	}
	*[class].w50px {
		width: 50px !important;
	}
	*[class].w90px {
		width: 90px !important;
	}
	*[class].w170px {
		width: 170px !important;
	}
	*[class].w197px {
		width: 197px !important;
	}
	*[class].w240px {
		width: 240px !important;
	}
	*[class].w260px {
		width: 260px !important;
	}
	*[class].w320px {
		width: 320px !important;
	}
	*[class].w100pc {
		width: 100% !important;
		max-width: none !important;
	}
	*[class].w50pc {
		width: 50% !important;
		max-width: none !important;
	}
	*[class].fullWidth {
		width: 414px !important;
		min-width: 414px !important;
		max-width: 414px !important;
	}
	/* Hide */
	*[class].NoMob {
		display: none !important;
	}
	/* Show */
	*[class].block {
		display: block !important;
	}
	*[class].show {
		display: block !important;
		width: 100% !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showmobile {
		display: block !important;
	}
	*[class].showtable {
		display: table !important;
		width: 100% !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showtable2 {
		display: table !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showtd {
		display: table-cell !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showtd2 {
		display: table-cell !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showimg2 {
		display: block !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showimg3 {
		display: block !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showimg {
		display: block !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showtableWWH {
		display: table !important;
		width: 96px !important;
		height: 45px !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	/* font */
	*[class].font_15_18 {
		font-size: 15px !important;
		line-height: 18px !important;
	}
	*[class].font_19_23 {
		font-size: 19px !important;
		line-height: 23px !important;
	}
	*[class].fs10px {
		font-size: 10px !important;
		line-height: 13px !important;
		font-family: Arial, Verdana, sans-serif !important;
		color: #ffffff !important;
		font-weight: normal !important;
	}
	/* text */
	*[class].txtBold {
		font-weight: bold !important;
	}
	/*padding*/
	*[class].padL10px {
		padding-left: 10px !important;
	}
	*[class].padL14px {
		padding-left: 14px !important;
	}
	*[class].padL44px {
		padding-left: 44px !important;
	}
	*[class].padR5px {
		padding-right: 5px !important;
	}
	*[class].padT15px {
		padding-top: 15px !important;
	}
	*[class].padT30px {
		padding-top: 30px !important;
	}
	*[class].padT3 {
		padding-top: 3px !important;
	}
	*[class].padT5 {
		padding-top: 5px !important;
	}
	*[class].padT10 {
		padding-top: 10px !important;
	}
	*[class].padT15 {
		padding-top: 15px !important;
	}
	*[class].padT20 {
		padding-top: 20px !important;
	}
	*[class].padB5 {
		padding-bottom: 5px !important;
	}
	*[class].padB15 {
		padding-bottom: 15px !important;
	}
	*[class].padB20 {
		padding-bottom: 20px !important;
	}
	*[class].padB25 {
		padding-bottom: 25px !important;
	}
	*[class].padLR15 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	*[class].padLR10 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	*[class].padTB15 {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	*[class].padTB14 {
		padding-top: 14px !important;
		padding-bottom: 10px !important;
	}
	*[class].bg1 {
		background-image: url(bg1m.jpg) !important;
		background-repeat: no-repeat;
		background-position: top;
		height: 596px;
	}
	*[class].bg2 {
		background-image: url(bg2.jpg) !important;
		background-repeat: no-repeat;
		background-position: top;
		height: 253px;
	}
	*[class].w320 {
		width: 300px !important;
	}
	*[class].padT {
		padding-top: 230px !important;
	}
	*[class].alignCenter {
		text-align: center !important;
	}
	*[class].border1px {
		border: 1px solid #a0a0a0 !important;
	}
	*[class].pricecard6 {
		padding-top: 28px !important;
		padding-left: 10px !important;
	}
	*[class].padLR10 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	*[class].h100pc {
		height: 100% !important;
	}
	*[class].font12px {
		font-size: 12px !important;
		line-height: 16px !important;
	}
	*[class].font14px {
		font-size: 14px !important;
		line-height: 16px !important;
	}
	*[class].font16px {
		font-size: 16px !important;
		line-height: 21px !important;
	}
	*[class].font18px {
		font-size: 18px !important;
		line-height: 24px !important;
	}
	*[class].font20px {
		font-size: 20px !important;
		line-height: 26px !important;
	}
	*[class].font23px {
		font-size: 23px !important;
		line-height: 28px !important;
	}
	*[class].font26px {
		font-size: 26px !important;
		line-height: 30px !important;
	}
	*[class].font32px {
		font-size: 32px !important;
		line-height: 38px !important;
	}
	*[class].h232px {
		height: 232px !important;
	}
}

@media screen and (max-width:480px) {
	*[class].tab_hidden {
		display: none !important;
	}
	*[class].mobile_show {
		display: block !important;
		width: 100% !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].mobile_show_table {
		display: table !important;
		width: 100% !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].mobile_show_td {
		display: table-cell !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].w100pcMobile {
		width: 100% !important;
		max-width: none !important;
		background-color: #979696 !important;
	}
	*[class].blockMobile {
		display: block !important;
	}
	*[class].padTB15px {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	*[class].mobileW100pc {
		width: 100% !important;
		display: block !important;
	}
	*[class].padT30 {
		padding-top: 30px !important;
	}
	*[class].showimg_mobile {
		display: block !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].showimg_inlineBlock_mobile {
		display: inline-block !important;
		height: auto !important;
		max-height: none !important;
		line-height: 1.5 !important;
	}
	*[class].mobile_social_img {
		width: 95px !important;
		height: auto !important;
	}
	*[class].font_15 {
		font-size: 15px !important;
		line-height: 18px !important;
	}
}

/*	@media screen and (max-width:320px) and (max-device-width: 1100px) { */
@media screen and (max-width:414px) {
	*[class].mobile_hidden {
		display: none !important;
	}
	*[class].mobile_block {
		display: block !important;
	}
}
