<wrapper>
  <container>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="w100pc" width="640">
      <tbody>
        <tr>
          <td background="/assets/img/bg1.jpg" bgcolor="#ffffff" height="572" valign="top" width="640" class="bg1" style="background-image:url('/assets/img/bg1.jpg');">
            <!--[if gte mso 9]>
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:640px;height:580px;">
    <v:fill type="frame" src="bg1.jpg" color="#ffffff" ></v:fill>
    <v:textbox inset="0,0,0,0">
    <![endif]-->
            <div>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td width="55" class="w40px"></td>
                    <td height="120" class="h232px" valign="middle" style="vertical-align: middle;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td valign="top" style="font-family: Arial; font-size: 38px; line-height: 43px; color: #ffffff; text-align: left; text-decoration: none; font-weight: bold;mso-line-height-rupe:exactly;" class="font32px"> Привет! </td>
                        </tr>
                      </table>
                    </td>
                    <td width="55"></td>
                  </tr>
                </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td width="190" class="w197px"></td>
                    <td height="260" class="h290px" valign="middle" style="vertical-align: middle;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td height="170" style="height:6px; font-size:2px; line-height:2px; "> <img border="0" height="170" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                        </tr>
                        <tr>
                          <td style="font-family: Arial; font-size: 18px; line-height: 24px; color: #ffffff; text-align: left; text-decoration: none; font-weight: bold;mso-line-height-rupe:exactly;" class="font16px">
                            Третья волна программы <br> &laquo;Измени 10&nbsp;000 жизней&raquo; <br> подошла к&nbsp;концу.
                          </td>
                        </tr>
                        <tr>
                          <td height="6" style="height:6px; font-size:2px; line-height:2px; "> <img border="0" height="6" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                        </tr>
                        <tr>
                          <td style="font-family: Arial; font-size: 18px; line-height: 24px; color: #ffffff; text-align: left; text-decoration: none; font-weight: bold;mso-line-height-rupe:exactly;" class="font16px">
                            Мы&nbsp;с&nbsp;радостью спешим поделиться её результатами!
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td width="100" class="w15px"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--[if gte mso 9]>
    </v:textbox>
    </v:rect>
    <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>


    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td width="15" class="w40px"></td>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td valign="top" style="font-family: Arial; font-size: 20px; line-height: 38px; color: #0070dc; text-align: center; text-decoration: none; font-weight: bold;mso-line-height-rupe:exactly;" class="font20px">
                  Победителями этого этапа стали:
                </td>
              </tr>
              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; ">
                  <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" />
                </td>
              </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="NoMob">
              <tr class="face-row">
                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph1.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Сагидуллин<br />
                                    Александр
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area Center
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    50 переключений<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph2.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Верещагин<br />
                                    Олег
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area East
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    41 переключение<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph3.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Лактюшин <br />
                                    Кирилл
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area North
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    34 переключения<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph4.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Мелков  <br />
                                    Юрий
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area Moscow
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    28 переключения<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
              </tr>

              <tr class="face-row">
                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph5.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Фещенко <br />
                                    Андрей
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area South
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    29 переключений<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph6.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Воротников  <br />
                                    Евгений
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Izhora
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    10 переключений<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph7.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Штурбин   <br />
                                    Алексей
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    HQ
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    9 переключений<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph8.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Полянович<br />
                                    Анастасия
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Kuban
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    7 переключений<br />
                                    10 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
              </tr>
            </table>

            <!--[if !mso]><!-->
            <div class="show" style="display: none; max-height: 0px; overflow: hidden; line-height: 0px;">
              <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                <tr>
                  <td class="showtd">
                    <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                      <tr>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph1.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Страшнов<br />
                                      Вадим</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area Moscow</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">13 переключений<br />
                                      28 постов</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph2.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Селиванец<br />
                                      Андрей</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area Center</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">11 переключений<br />
                                      24 поста</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="showtd" height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
                </tr>
                <tr>
                  <td class="showtd">
                    <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                      <tr>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph3.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Мартиросян<br />
                                      Нарине</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area Center</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">11 переключений<br />
                                      24 поста</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph4.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Ткаченко<br />
                                      Вера</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area North</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">10 переключений<br />
                                      13 постов</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="showtd" height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
                </tr>
                <tr>
                  <td class="showtd">
                    <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                      <tr>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph5.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Тищенко<br />
                                      Роман </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area South</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">8 переключений<br />
                                      8 постов</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph6.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Муковная<br />
                                      Светлана</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area East </td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">8 переключений<br />
                                      21 пост</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="showtd" height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
                </tr>
                <tr>
                  <td class="showtd">
                    <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                      <tr>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph7.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Чермашенцев<br />
                                      Даниил</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Kuban</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">6 переключений<br />
                                      21 пост</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph8.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Лебедко<br />
                                      Валерий</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">HQ</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">6 переключений<br />
                                      21 пост</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="showtd" height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
                </tr>
                <tr>
                  <td class="showtd">
                    <table border="0" cellpadding="0" cellspacing="0" class="showtable2" style="mso-hide: all; display:none; font-size: 0; max-height: 0; line-height: 0;" width="100%">
                      <tr>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph9.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Тумасов<br />
                                      Владимир</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Area South</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">5 переключений<br />
                                      23 поста</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center"><img class="face" src="/assets/img/ph10.jpg" alt="" style="display:block;" /></td>
                            </tr>
                            <tr>
                              <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Крылов<br />
                                      Павел</td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">Izhora</td>
                                  </tr>
                                  <tr>
                                    <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">5 переключений<br />
                                      20 постов</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="showtd" height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
                </tr>
              </table>
            </div>
            <!--<![endif]-->

            <container class="texting-1">
              <center>
                <p class="text-center">
                  Они выиграли уникальный <br>
                  IQOS НОВОГО ПОКОЛЕНИЯ и годовую <br>
                  подписку на стики.
                </p>
                <p class="text-center">
                  Также пришло время подвести <br>
                  итоги по результатам первых трёх волн.
                </p>
              </center>
            </container>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; ">
                  <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" />
                </td>
              </tr>
              <tr>
                <td valign="top" style="font-family: Arial; font-size: 20px; color: #0070dc; text-align: center; text-decoration: none; font-weight: bold;mso-line-height-rupe:exactly;" class="font20px">
                  Самыми активными участниками и обладателями НЕЗАБЫВАЕМОЙ ПОЕЗДКИ В ЯПОНИЮ стали:
                </td>
              </tr>
              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; ">
                  <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" />
                </td>
              </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="NoMob">
              <tr class="face-row">
                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph1.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Сагидуллин<br />
                                    Александр
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area Center
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    54 переключения<br />
                                    45 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph2.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Верещагин <br />
                                    Олег
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area East
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    44 переключения<br />
                                    45 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph3.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Лактюшин  <br />
                                    Кирилл
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area North
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    38 переключений<br />
                                    19 постов
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="face-holder">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="25%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center" class="face-wrapper" ><img class="face" src="/assets/img/ph4.jpg" alt="" /></td>
                          </tr>
                          <tr>
                            <td height="10" style="height:10px; font-size:2px; line-height:2px; "> <img border="0" height="10" src="/assets/img/spacer.gif" style="display:block;" width="100%" /> </td>
                          </tr>
                          <tr>
                            <td align="center" class="people-wrapper">
                              <table cellpadding="0" cellspacing="0" border="0" class="people">
                                <tr>
                                  <td style="font-family: Arial; font-size: 15px; line-height: 18px; color: #0070dc; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Мелков   <br />
                                    Юрий
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 14px; line-height: 24px; color: #434343; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    Area Moscow
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="middle" height="14"> <img src="/assets/img/line.jpg" alt="" width="18"  height="1" /> </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Arial; font-size: 12px; line-height: 15px; color: #7d7d7d; text-align: left; text-decoration: none; font-weight: normal;mso-line-height-rupe:exactly;">
                                    35 переключений<br />
                                    43 поста
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>

              <tr>
                <td height="30" style="height:30px; font-size:2px; line-height:2px; "> <img border="0" height="30" src="/assets/img/spacer.gif" style="display:block;" width="100%" class="h40px" /> </td>
              </tr>
            </table>
          </td>
          <td width="15" class="w40px"></td>
        </tr>
      </tbody>
    </table>

  </container>
</wrapper>
